<%- include('partials/header') %>
<div id="planets">
    <% for (const planet of planets) { %>
        <div class="planets">
            <a class="planets_liens" href="<%= planet.name %>"><img class="planets_images" src="/img/<%= planet.name %>.jpg" alt="<% planet.name %>"></a>
            <a class="planets_liens" href="<%= planet.name %>"><%= planet.name %></a>
        </div>
    <% } %>
</div>
<%- include('partials/footer') %>