<%- include('partials/header') %>
    
    <% if (planet.name === "terre") { %>
        <form class="search" action="/solarsystem" method="get">
            <input name="search" placeholder="cherchez un pays" class="search_input" type="text">
            <button class="search_btn" type="submit">Chercher</button>
        </form>
    <% } %>
    <h2 id="titlePlanetPage"><%= planet.name %></h2>
    <h3 id="planeteDiametre">Diamètre : <%= planet.size %></h3>
    <div id="imgspitchPlanetsPage">
        <img class="imgPlanetsPage" src="/img/<%= planet.name %>.png" alt="<% planet.name %>">
        <p class="spitchPlanetsPage"><%= planet.spitch %></p>
    </div>
    <p>Source: <a href="http://www.wikipedia.org/" alt="wikipedia" target="_blank">Wikipedia</a></p>
<%- include('partials/footer') %>