<%- include('partials/header') %>
<h2 class="title_pages">Système solaire</h2>
<div id="planets">
    <% for (const planet of planets) { %>
        <div class="planets">
            <a class="planets_liens" href="/planete/<%= planet.name %>"><img class="planets_images" src="/img/<%= planet.name %>.png" alt="<% planet.name %>"><%= planet.name %></a>
        </div>
    <% } %>
</div>
<%- include('partials/footer') %>